@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>React App</title>
    <h1>Hellooo</h1>
    <link href="~/reactapp/static/css/main.f855e6bc.css" rel="stylesheet">
     <h1>Hellooo</h1>
</head>
<body>
    <div id="root"></div>
    <h1>Hellooo</h1>
    <script src="~/reactapp/static/js/main.38cc0734.js"></script>
</body>
</html>
